<footer class="footer set-bg" style="background-color: black">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__widget">
          <h6>Thời gian làm việc</h6>
          <ul>
            <li>Thứ 2 - Thứ 6: 08:00  – 19:30 </li>
            <li>Thứ bảy: 10:00 am – 16:30 pm</li>
            <li>Chủ nhật: 10:00 am – 16:30 pm</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__about">
          <div class="footer__logo">
            <a href="#"><img src="../../../assets/img/footer-logo.png" alt=""></a>
          </div>
          <p>Thưởng thức hương vị tinh túy của bánh mì chất lượng.</p>
          <div class="footer__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
          </div>

        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="footer__newslatter">
          <h6>Đăng ký!</h6>
          <p>Nhận những thông tin và ưu đãi mới nhất.</p>
          <form action="#">
            <input type="text" placeholder="Email">
            <button type="submit"><i class="fa fa-send-o"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
        </div>
        <div class="col-lg-5">
          <div class="copyright__widget">
            <ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
