<!--    //body-->
<section class="hero container-fluid">
  <div id="heroSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#heroSlider" data-slide-to="0" class="active"></li>
      <li data-target="#heroSlider" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/hero/hero-1.jpg" class="d-block w-100" alt="Slide 1">
        <div class="container">
          <div class="carousel-caption">
            <!--            <h2>Making your life sweeter one bite at a time!</h2>-->
            <!--            <a href="#" class="btn btn-primary">Our cakes</a>-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/hero/hero-1.jpg" class="d-block w-100" alt="Slide 2">
        <div class="container-fluid">
          <div class="carousel-caption">
            <!--            <h2>Making your life sweeter one bite at a time!</h2>-->
            <!--            <a href="#" class="btn btn-primary">Our cakes</a>-->
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#heroSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!-- Hero Section End -->
<!-- About Section Begin -->
<section class="about spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about__text">
          <div class="section-title">
            <span>About Cake shop</span>
            <h2>Cakes and bakes from the house of Queens!</h2>
          </div>
          <p>The "Cake Shop" is a Jordanian Brand that started as a small family business. The owners are
            Dr. Iyad Sultan and Dr. Sereen Sharabati, supported by a staff of 80 employees.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about__bar">
          <div class="about__bar__item">
            <p>Cake design</p>
            <div id="bar1" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="95"></span>
            </div>
          </div>
          <div class="about__bar__item">
            <p>Cake Class</p>
            <div id="bar2" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="80"></span>
            </div>
          </div>
          <div class="about__bar__item">
            <p>Cake Recipes</p>
            <div id="bar3" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="90"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Categories Section Begin -->
<div class="categories container-fluid">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel d-flex">
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-029-cupcake-3"></span>
            <h5>Cupcake</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-034-chocolate-roll"></span>
            <h5>Butter</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-005-pancake"></span>
            <h5>Red Velvet</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-030-cupcake-2"></span>
            <h5>Biscuit</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-006-macarons"></span>
            <h5>Donut</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-006-macarons"></span>
            <h5>Cupcake</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-1.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Dozen Cupcakes</a></h6>
            <div class="product__item__price">$32.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-2.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Cookies and Cream</a></h6>
            <div class="product__item__price">$30.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-3.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Gluten Free Mini Dozen</a></h6>
            <div class="product__item__price">$31.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-4.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Cookie Dough</a></h6>
            <div class="product__item__price">$25.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-5.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Vanilla Salted Caramel</a></h6>
            <div class="product__item__price">$05.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-6.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">German Chocolate</a></h6>
            <div class="product__item__price">$14.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-7.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Dulce De Leche</a></h6>
            <div class="product__item__price">$32.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img src="../../../assets/img/shop/product-8.jpg">
            <div class="product__label">
              <span>Cupcake</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">Mississippi Mud</a></h6>
            <div class="product__item__price">$08.00</div>
            <div class="cart_add">
              <a href="#">Add to cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Team Section Begin -->
<section class="team spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="section-title">
          <span>Our team</span>
          <h2>Sweet Baker </h2>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="team__btn">
          <a href="#" class="primary-btn">Join Us</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/team-1.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/team-2.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/team-3.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/team-4.jpg">
          <div class="team__item__text">
            <h6>Randy Butler</h6>
            <span>Decorater</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Testimonial</span>
          <h2>Our client say</h2>
        </div>
      </div>
    </div>

    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-1.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Kerry D.Silva</h5>
                    <span>New york</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-2.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Kerry D.Silva</h5>
                    <span>New york</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-1.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Ophelia Nunez</h5>
                    <span>London</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-2.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Kerry D.Silva</h5>
                    <span>New york</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Add more carousel items here -->

      </div>

      <!--      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">-->
      <!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
      <!--        <span class="visually-hidden"><</span>-->
      <!--      </button>-->
      <!--      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">-->
      <!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
      <!--        <span class="visually-hidden">></span>-->
      <!--      </button>-->
      <button class="carousel-control-prev d-none" type="button" data-bs-target="#testimonialCarousel"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><</span>
      </button>
      <button class="carousel-control-next d-none" type="button" data-bs-target="#testimonialCarousel"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">></span>
      </button>
    </div>


  </div>
</section>
<!-- Testimonial Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad container d-flex">
  <div>
    <div class="row">
      <div class="col-lg-4 p-0">
        <div class="instagram__text">
          <div class="section-title">
            <span>Follow us on instagram</span>
            <h2>Sweet moments are saved as memories.</h2>
          </div>
          <h5><i class="fa fa-instagram"></i> @sweetcake</h5>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/instagram-1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic middle__pic">
              <img src="../../../assets/img/instagram/instagram-2.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/instagram-3.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/instagram-4.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic middle__pic">
              <img src="../../../assets/img/instagram/instagram-5.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/instagram-3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Instagram Section End -->
