<!--    //body-->
<section class="hero container-fluid">
  <div id="heroSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#heroSlider" data-slide-to="0" class="active"></li>
      <li data-target="#heroSlider" data-slide-to="1"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/img/hero/hero-1.jpg" class="d-block w-100" alt="Slide 1">
        <div class="container">
          <div class="carousel-caption">
            <!--            <h2>Making your life sweeter one bite at a time!</h2>-->
            <!--            <a href="#" class="btn btn-primary">Our cakes</a>-->
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../../../assets/img/hero/hero-1.jpg" class="d-block w-100" alt="Slide 2">
        <div class="container-fluid">
          <div class="carousel-caption">
            <!--            <h2>Making your life sweeter one bite at a time!</h2>-->
            <!--            <a href="#" class="btn btn-primary">Our cakes</a>-->
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroSlider" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#heroSlider" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!-- Hero Section End -->
<!-- About Section Begin -->
<section class="about spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="about__text">
          <div class="section-title">
            <span>Giới thiệu cửa hàng bánh</span>
            <h2>Bánh từ nhà của Huynl4!</h2>
          </div>
          <p>"Bakéry" là một thương hiệu của Huynl4, bắt đầu như một doanh nghiệp gia đình nhỏ. Chủ sở hữu
            là Nguyễn Lê Huy, được hỗ trợ bởi đội ngũ 80 nhân viên.</p>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="about__bar">
          <div class="about__bar__item">
            <p>Bánh mì Việt Nam</p>
            <div id="bar1" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="95"></span>
            </div>
          </div>
          <div class="about__bar__item">
            <p>Bánh mì Pháp</p>
            <div id="bar2" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="80"></span>
            </div>
          </div>
          <div class="about__bar__item">
            <p>Bánh mì Ấn Độ</p>
            <div id="bar3" class="barfiller">
              <div class="tipWrap"><span class="tip"></span></div>
              <span class="fill" data-percentage="90"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About Section End -->

<!-- Categories Section Begin -->
<div class="categories container-fluid">
  <div class="container">
    <div class="row">
      <div class="categories__slider owl-carousel d-flex">
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-029-cupcake-3"></span>
            <h5 (click)="loadListBanhNgot()">Bánh mì ngọt</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-034-chocolate-roll"></span>
            <h5 (click)="loadListBanhMan()">Bánh mì mặn</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-005-pancake"></span>
            <h5 (click)="loadListBanhChay()">Bánh mì chay</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-030-cupcake-2"></span>
            <h5>Bánh mì Canada</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-006-macarons"></span>
            <h5>Bánh mì Pháp</h5>
          </div>
        </div>
        <div class="categories__item">
          <div class="categories__item__icon">
            <span class="flaticon-006-macarons"></span>
            <h5>Bánh mì Thụy Sĩ</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6" *ngFor="let product of productList, index as i">
        <div class="product__item">
          <div class="product__item__pic set-bg"><img [src]="product.image" alt=""
                                                      style="width: 300px; height: 300px; object-fit: scale-down">
            <div class="product__label">
              <span routerLink="/detail/{{product.id}}">Xem chi tiết</span>
            </div>
          </div>
          <div class="product__item__text">
            <h6><a href="#">{{product?.name}}</a></h6>
            <div class="product__item__price">{{product.price| number }} &nbsp; đ</div>
            <div class="cart_add">
              <a href="#" (click)="addCart(product.id)">Thêm vào giỏ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <a [hidden]="moreFruit" class="btn btn-warning rounded-pill py-3 px-5" (click)="loadMore()">Xem thêm sản phẩm</a>
      <a [hidden]="!moreFruit" class="btn btn-warning rounded-pill py-3 px-5" (click)="loadMore1()">Xem thêm sản
        phẩm</a>
      <!--      <a [hidden]="!moreFruit" class="btn btn-primary rounded-pill py-3 px-5" (click)="loadMore2()">Xem thêm sản phẩm</a>-->
    </div>
  </div>
</section>
<!-- Product Section End -->

<!-- Team Section Begin -->
<section class="team spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-7 col-sm-7">
        <div class="section-title">
          <span>Đội ngũ nhân viên</span>
          <h2>Các bếp trưởng</h2>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5">
        <div class="team__btn">
          <a href="#" class="primary-btn">Ứng tuyển</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/Dau%20bep.jpg">
          <div class="team__item__text">
            <h6>Cristian Nguyễn</h6>
            <span>Bếp trưởng</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/vn.jpg">
          <div class="team__item__text">
            <h6>Vũ Lan Hương</h6>
            <span>Bếp trưởng</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/chef-sakal-phoeung-12.jpg">
          <div class="team__item__text">
            <h6>Michel Olan</h6>
            <span>Bếp trưởng</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team__item set-bg"><img src="../../../assets/img/team/494797.jpg">
          <div class="team__item__text">
            <h6>Kim Tak Guu</h6>
            <span>Bếp trưởng</span>
            <div class="team__item__social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial spad container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="section-title">
          <span>Ý kiến</span>
          <h2>Phản hồi của khách hàng</h2>
        </div>
      </div>
    </div>

    <div id="testimonialCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-1.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Kerry D.Silva</h5>
                    <span>Pháp</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Bánh tại cửa hàng của bạn thật ngon và tuyệt vời! Vị ngọt vừa phải, bề mặt mịn màng, và hương thơm
                  quyến rũ. Tôi chắc chắn sẽ quay lại.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-2.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>My Hạ</h5>
                    <span>Sài Gòn</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Tôi đã thử nhiều loại bánh ở nhiều nơi, nhưng bánh tại cửa hàng của bạn thật sự độc đáo. Chất lượng
                  tuyệt vời, đồng thời vị ngọt không quá ngấy.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-1.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Ophelia Nunez</h5>
                    <span>London</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testimonial__item">
                <div class="testimonial__author">
                  <div class="testimonial__author__pic">
                    <img src="../../../assets/img/testimonial/ta-2.jpg" alt="">
                  </div>
                  <div class="testimonial__author__text">
                    <h5>Kerry D.Silva</h5>
                    <span>New york</span>
                  </div>
                </div>
                <div class="rating">
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star"></span>
                  <span class="icon_star-half_alt"></span>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                  ut labore et dolore magna aliqua viverra lacus vel facilisis.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Add more carousel items here -->

      </div>

      <!--      <button class="carousel-control-prev" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="prev">-->
      <!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
      <!--        <span class="visually-hidden"><</span>-->
      <!--      </button>-->
      <!--      <button class="carousel-control-next" type="button" data-bs-target="#testimonialCarousel" data-bs-slide="next">-->
      <!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
      <!--        <span class="visually-hidden">></span>-->
      <!--      </button>-->
      <button class="carousel-control-prev d-none" type="button" data-bs-target="#testimonialCarousel"
              data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><</span>
      </button>
      <button class="carousel-control-next d-none" type="button" data-bs-target="#testimonialCarousel"
              data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">></span>
      </button>
    </div>


  </div>
</section>
<!-- Testimonial Section End -->

<!-- Instagram Section Begin -->
<section class="instagram spad container d-flex">
  <div>
    <div class="row">
      <div class="col-lg-4 p-0">
        <div class="instagram__text">
          <div class="section-title">
            <span>Theo dõi instagram của chúng tôi</span>
            <h2>Những khoảnh khắc ngọt ngào được lưu lại làm kỷ niệm.</h2>
          </div>
          <h5><i class="fa fa-instagram"></i> @bakeryhuynl4</h5>

        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/4d128a7143a95f46d6a8a61da8afbfe0.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic middle__pic">
              <img src="../../../assets/img/instagram/instagram-2.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/banh-ran-Doremon-1.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/instagram-4.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic middle__pic">
              <img src="../../../assets/img/instagram/instagram-5.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-6">
            <div class="instagram__pic">
              <img src="../../../assets/img/instagram/20066831_125724508037021_6013281722836189184_n.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Instagram Section End -->
