/*---------------------
  Product Details
-----------------------*/
.product-details {
  padding-top: 90px;
  padding-bottom: 0;
}

.product__details__big__img {
  width: calc(84% - 20px);
  float: left;
  margin-right: 20px;
}

.product__details__big__img img {
  min-width: 100%;
}

.product__details__thumb {
  height: 440px;
  float: left;
  width: 16%;
  overflow: hidden;
}

.product__details__thumb .pt__item {
  margin-bottom: 10px;
  cursor: pointer;
}

.product__details__thumb .pt__item img {
  min-width: 100%;
}

.product__details__text .product__label {
  display: inline-block;
  font-size: 14px;
  color: cadetblue;
  background:burlywood;
  padding: 6px 10px 4px;
  border-radius: 4px;
}

.product__details__text h4 {
  color:cadetblue;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 22px;
}

.product__details__text h5 {
  color: #444444;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 25px;
  margin-bottom: 20px;
}

.product__details__text p {
  color: #444444;
  margin-bottom: 18px;
}

.product__details__text ul {
  margin-bottom: 30px;
}

.product__details__text ul li {
  list-style: none;
  font-size: 16px;
  color: #888888;
  line-height: 28px;
}

.product__details__text ul li span {
  font-weight: 500;
  color:gray;
}

.product__details__option {
  overflow: hidden;
}

.product__details__option .quantity {
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.product__details__option .pro-qty {
  height: 50px;
  width: 140px;
  border: 1px solid #e1e1e1;
  padding: 0 20px;
}

.product__details__option .pro-qty .qtybtn {
  font-size: 16px;
  float: left;
  height: 100%;
  line-height: 48px;
  cursor: pointer;
  font-weight: 600;
}

.product__details__option .pro-qty .qtybtn.dec {
  color: #888888;
}

.product__details__option .pro-qty .qtybtn.inc {
  color: grey;
}

.product__details__option .pro-qty input {
  border: none;
  height: 100%;
  width: 82px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  float: left;
  text-align: center;
}

.product__details__option a {
  float: left;
}

.product__details__option a.heart__btn {
  font-size: 20px;
  border: 1px solid #e1e1e1;
  display: inline-block;
  color: gray;
  padding: 14px;
  line-height: 16px;
}

.product__details__option .primary-btn {
  margin-right: 20px;
}

.product__details__tab {
  padding-top: 85px;
}

.product__details__tab .nav-tabs {
  border-bottom: 1px solid #e1e1e1;
  justify-content: center;
}

.product__details__tab .nav-tabs .nav-item {
  margin-right: 45px;
  position: relative;
}

.product__details__tab .nav-tabs .nav-item:after {
  position: absolute;
  right: -25px;
  top: 0;
  content: "|";
  color: #444444;
}

.product__details__tab .nav-tabs .nav-item:last-child {
  margin-right: 0;
}

.product__details__tab .nav-tabs .nav-item:last-child:after {
  display: none;
}

.product__details__tab .nav-tabs .nav-item .nav-link {
  font-size: 16px;
  color: #444444;
  padding: 0;
  border: none;
  padding-bottom: 12px;
  border-bottom: 2px solid transparent;
}

.product__details__tab .nav-tabs .nav-item .nav-link.active {
  color: #a71d2a;
  border-bottom: 1px solid;
}

.product__details__tab .tab-content p {
  color: #444444;
  line-height: 30px;
  text-align: center;
  padding-top: 44px;
  margin-bottom: 0;
}

/*---------------------
  Related Products
-----------------------*/
.related-products {
  padding-top: 80px;
  padding-bottom: 40px;
}

.related-products .related__products__slider.owl-carousel .col-lg-3 {
  max-width: 100%;
}

.related-products .related__products__slider.owl-carousel .owl-nav button {
  font-size: 30px;
  color: #888888;
  position: absolute;
  left: -44px;
  top: 28%;
}

.related-products .related__products__slider.owl-carousel .owl-nav button.owl-next {
  left: auto;
  right: -44px;
}
/*//*/
.rating {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.3rem;
  --stroke: #666;
  --fill: #ffc73a;
  transform: translateX(-65%);
}

.rating input {
  appearance: unset;
}

.rating label {
  cursor: pointer;
}

.rating svg {
  width: 2rem;
  height: 2rem;
  overflow: visible;
  fill: transparent;
  stroke: var(--stroke);
  stroke-linejoin: bevel;
  stroke-dasharray: 12;
  animation: idle 4s linear infinite;
  transition: stroke 0.2s, fill 0.5s;
}

@keyframes idle {
  from {
    stroke-dashoffset: 24;
  }
}

.rating label:hover svg {
  stroke: var(--fill);
}

.rating input:checked ~ label svg {
  transition: 0s;
  animation: idle 4s linear infinite, yippee 0.75s backwards;
  fill: var(--fill);
  stroke: var(--fill);
  stroke-opacity: 0;
  stroke-dasharray: 0;
  stroke-linejoin: miter;
  stroke-width: 8px;
}

@keyframes yippee {
  0% {
    transform: scale(1);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30% {
    transform: scale(0);
    fill: var(--fill);
    fill-opacity: 0;
    stroke-opacity: 1;
    stroke: var(--stroke);
    stroke-dasharray: 10;
    stroke-width: 1px;
    stroke-linejoin: bevel;
  }

  30.1% {
    stroke: var(--fill);
    stroke-dasharray: 0;
    stroke-linejoin: miter;
    stroke-width: 8px;
  }

  60% {
    transform: scale(1.2);
    fill: var(--fill);
  }
}
/*//*/
.big_img {
  width: 300px; /* Kích thước ban đầu của ảnh */
  height: 300px;
  object-fit: scale-down;
  border-radius: 10%; /* Bo tròn ảnh */
  transition: all 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
}

.big_img:hover {
  transform: scale(1.2); /* Phóng to ảnh lên 1.2 lần */
}

